@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Urbanist:wght@700&display=swap');

:root {
  --vivid-burgundy: #a4303f;
  --eerie-black: #1f1f1d;
  --cg-blue: #227c9d;
  --mint-cream: #f3f8f2;
  --pale-silver: #C0B7B1;
}

body {
  margin: 0;
  background-color: var(--mint-cream);
  font-family: "EB Garamond";
  color: var(--eerie-black);
}

section {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
}

section > div {
  width: 100%;
  padding-top: 2rem;
}

section > div > p {
  max-width: 640px;
}

section h3 span {
  font-weight: normal;
}

#mainHeader {
  background-color: var(--eerie-black);
  height: 100vh;
  padding: 0 1rem;
}

@media screen  and (min-width: 768px) {
  #root {
    display: grid;
    grid-template-areas: "header main";
    grid-template-columns: 1fr 2fr;
  }
  #mainHeader {
    height: 100vh;
    grid-area: header;
  }
  #main {
    height: 100vh;
    overflow-y: scroll;
    grid-area: main;
  }
}

#headShot {
  width: 100%;
  max-width: 240px;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

#headShot:hover {
  transform: scale(1.1);
}

#socialLinks {
  font-size: 2rem;
}

#devLogos {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  gap: 16px;
  padding: 2rem 0;
}

#devLogos::after {
  content: "";
  flex: auto;
}

#devLogos img {
  width: 80px;
  max-height: 60px;
  margin-bottom: 1rem;
}

.social-link {
  padding: 1rem;
}

.social-link a {
  color: var(--pale-silver);
}

.work-listing,
.school-listing {
  margin-top: 3rem;
}

.school-listing > *,
.work-listing > * {
  margin: 0.3rem 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

.text-red {
  color: var(--vivid-burgundy);
}

.text-blue {
  color: var(--cg-blue);
}

.text-light {
  color: var(--mint-cream);
}

.text-muted {
  color: #888;
}

.text-sans {
  font-family: "Urbanist", sans-serif;
}

.text-serif {
  font-family: "EB Garamond", serif;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-spaced {
  letter-spacing: 0.5rem;
}